/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --text-selected:#353430 ;
  --marker-color:#FF8DCB ;
  --logo-color: #FFC2E6;
  --shadow-color:#FF0070 ;
  --text-color:#353430 ;
  --title-color:#353430;
  --decor-color: #353430;
  --color-body: #FFF1F7;
  --background-img: url(../images/cover-image-light.png);

}

@media (prefers-color-scheme: light) {
    :root {
      --text-selected:#353430 ;
      --marker-color:#FF8DCB ;
      --logo-color: #FFC2E6;
      --shadow-color:#FF0070 ;
      --text-color:#353430 ;
      --title-color:#353430;
      --decor-color: #353430;
      --color-body: #FFF1F7;
      --background-img: url(../images/cover-image-light.png);
  }

  .decorated__span-tex{
    display: none;
  }
}

.theme_light .decorated__span-tex{
  display: none;
}

@media (max-width: 768px) {
  .theme_light .cover__title {
    --shadow-color:#FF8DCB;
  }
}
