/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var( --background-img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  max-width: 1440px;
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.decorated__span-tex {
  position: absolute;
  z-index: 1;
  right: 48px;
  top: 20px;
  font-weight: 400;
  line-height:25px;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  color: var(--title-color);
  text-transform: uppercase;
}

.decorated__span-tex::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 8.5px;
  left: 42.4px;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--decor-color);
  box-shadow: 0px 0px 4px 2px var(--decor-color);
}
.header__theme-menu {
  position: relative;
}

.header__theme-menu-list {
  margin: 0px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0px 0px 0px;
}

.header__theme-menu-item {
  list-style-type: none; 
  width: 70px;
  height: 26px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--title-color);
  text-transform: lowercase;
  width: 100%;
  padding: 0;
  background: none;
	border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--decor-color);
}

.header__theme-menu-button:focus {
   outline: none;
   border-bottom: 1px solid var(--decor-color); 
}

.cover__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 129.53px;
  color: var(--logo-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.wrap-cover__text{
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.cover__text {
  background-color: var(--marker-color);
  font-size: 18px;
  color: var(--text-selected);
  line-height: 23.4px;
  max-width: 491px;
  min-height: 71px;
  margin-bottom: 134px;
  margin-right: 20px;
}

.content-tabls {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0 20px;
}

.section__content-tabl {
  color: var(--title-color);
  font-size: 18px;
  display: grid;
  grid-template-columns: 315px 1fr;
  gap:19px;
  margin-bottom: 80px;
}

.section__content-column {
  color: var(--title-color);
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.section__content-column .content__title-question {
  grid-column-start: 1 ;
  grid-column-end: 4;
  display: block;
  width: 315px;
}

.content__inform{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content__title-question { 
  margin: 0;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
}

.content__inform:not(:last-child) {
  padding-bottom: 20px;
}

.content__title {
  background: var(--marker-color);
  color: var(--text-selected);
  font-weight: 700;
  font-size: 18px;
}

.content__item {
  background: var(--marker-color);
  color: var(--text-selected);
  font-weight: 400;
  font-size: 18px;
}

.content__text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height:23.4px;
}

.content__title-for-itam {
  margin-bottom: 20px;
}

.decorated-link {
  text-shadow: 2px 2px 0 var(--shadow-color);
  text-decoration: none;
  cursor: pointer;
}

.decorated-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.decorated-link:focus {
  outline: 1px solid var(--text-color);
}

.section__content-tabl_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section__content-tabl_img img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  grid-auto-flow: dense;
}

.sunset {
  grid-column: span 2;
}

.ice-cream {
 grid-row: span 2;
}

.tape {
  grid-row: span 2;
}

.books {
  grid-column: span 1;
}

.street {
  grid-column: span 2;
}

footer {
  height: 100vh;
  min-width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer .cover__title {
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media (max-width: 768px) {
  header {
    min-width: 376px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    gap: 11.5px;
    padding: 192px 20px 0 0;
  }
  
  .cover__title {
    padding-top: 5px;
  }
  .cover__text {
    max-width: 365px;
    margin-bottom: 184px;
  }

  .section__content-tabl {
    grid-template-columns: 236px 1fr;
  }

  .section__content-column {
    display: flex;
    flex-direction: column;
  }

  .section__content-column .content__title-question {
    width: 236px;
  }
  .section__content-column .content__inform:not(:last-child) {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .section__content-tabl_img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
}

@media (max-width: 668px) {
  .content-tabls{
    margin: 0;
  }
  .section__content-tabl {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 670px) {
  .content-tabls {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 40px;
  }
}

@media (max-width: 450px) {
  .header__theme-menu-list {
    padding-top: 75px;
    padding-right: 0px;
    gap: 10px;
  }

  .header {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
  }
  
  .header:not(:last-child) {
    gap: 55px;
  }

  .cover__title {
    line-height: 97.5px;
    letter-spacing: -3px;
    padding-top: 9px;
  }
  .cover__text {
    margin-bottom: 66px;
    margin-right: 0;
    width: 355px;
  }
  
  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }
  
  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated__span-tex {
    right: 38px;
    top: 10px;
  }
  

  .section__content-tabl {
    margin-bottom: 50px;
    gap: 20px;
  }

  .section__content-column {
    margin-bottom: 50px;
  }

  .section__content-column .content__title-question {
    width: auto; 
  }

  .content__inform:not(:last-child) {
    padding-bottom: 21px;
  }

  .content__title-for-itam {
    margin-bottom: 10px;
  }

  .section__content-tabl .content__title-for-itam {
    margin-bottom: 20px;
  }
  footer {
    margin-top: 40px;

  }
  footer .cover__title {
    padding-top: 0px;
    letter-spacing: -2px;
  }
}