/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --text-selected:#000028 ;
  --marker-color:#FF0070 ;
  --logo-color:#DB00FF;
  --shadow-color:#FF0070;
  --text-color:#F1B2CE;
  --title-color:#FF0070;
  --decor-color:#FF0070 ;
  --body-color: #000028;
  --background-img: url(../images/cover-image-dark.png);
}